.root {
    -fx-background-color: #0d8040ff;
}

.balance-text {
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto Slab Medium";
    -fx-fill: #efefefef;
}

.button {
    -fx-pref-width: 100pt;

    -fx-border-width: 2;
    -fx-border-color: cyan;
    -fx-background-color: transparent;

    -fx-font-family: "Roboto Slab";
    -fx-font-size: 12pt;
    -fx-text-fill: cyan;
}

.chip-button {
    -fx-pref-width: 50pt;

    -fx-border-width: 2;
    -fx-border-color: cyan;
    -fx-background-color: transparent;

    -fx-font-family: "Roboto Slab";
    -fx-font-size: 12pt;
    -fx-text-fill: cyan;
}

.button:hover {
    -fx-background-color: #00484848;
}

.button:pressed {
    -fx-background-color: #efefef22;
}

.button:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d1d;
}
